.settings p {
  padding-left: 0 !important;
}

.settings input[type="submit"] {
  text-align: left !important;
}

.box.tabular.settings label{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 0px !important;
  font-weight: normal;
  width: auto;
  clear: left;
  text-align: left;

}

.settings fieldset {
  margin-bottom: 8px;
}

.settings label.for-checkbox {
  display: block;
  clear: left;
}

.settings-indent {
  padding-left: 10px;
}
.rmp-settings-group {
  background-color: #F3F3F3;
}